<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>添加工时</title>
</head>
<body>
<div align="center">
<form action="/factory/add" >
    <label for="name">员工姓名</label><input type="text" name="name" id="name" value=""><br>
    <label for="location">日期</label><input type="text" name="location" id="location"><br>
    <label for="leader">工时</label><input type="text" name="leader" id="leader"><br>
    <label for="phone">请假</label><input type="text" name="phone" id="phone"><br>
    <input type="submit" value="确认添加"><br>
</form>
</div>
</body>
</html>