<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>修改工时&请假</title>
</head>
<body>
<div align="center">
    <form action="/factory/add" >
        <input type="hidden" name="workerId"  value=""><br>
        <label for="riqi">日期</label><input type="text" name="riqi" id="riqi"><br>
        <label for="gongshi">工时</label><input type="text" name="gongshi" id="gongshi"><br>
        <label for="qingjia">请假</label><input type="text" name="qingjia" id="qingjia"><br>
        <input type="submit" value="确认修改"><br>
    </form>
</div>
</body>
</html>