<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>修改工厂</title>
</head>
<body>
<div align="center">
<form action="/factory/add" >
    <label for="name">厂名</label><input type="text" name="name" id="name" value=""><br>
    <label for="location">地址</label><input type="text" name="location" id="location"><br>
    <label for="leader">驻厂</label><input type="text" name="leader" id="leader"><br>
    <label for="phone">电话</label><input type="text" name="phone" id="phone"><br>
    <input type="submit" value="确认添加"><br>
</form>
</div>
</body>
</html>